## HIDDEN FILES
.DS_Store

## CERBOT
/.well-known/

## PACKAGE MANAGER
### COMPOSER
/vendor/
composer.lock
### NPM
/node_modules/
package-lock.json
### YARN
/.cache/
/.yarn/

## ENV
/.env
/.env.local
/.env.*.local

## WORDPRESS
### LANGUAGES
/public/languages/*
!/public/languages/.gitignore
### MU-PLUGINS
/public/mu-plugins/*
!/public/mu-plugins/index.php
!/public/mu-plugins/pollen-autoloader.php
!/public/mu-plugins/{{ name of a mu-plugin }}
### PLUGINS
/public/plugins/*
!/public/plugins/index.php
!/public/themes/{{ name of a plugin }}
### THEMES
/public/themes/*
!/public/themes/index.php
!/public/themes/{{ name of a theme }}
### UPGRADE
/public/upgrade/*
!/public/upgrade/.gitignore
### UPLOADS
/public/uploads/*
!/public/uploads/.htaccess
!/public/uploads/index.php
### CORE
/public/wordpress
### DEBUG
/public/debug.log

## APPLICATION
### Assets
/resources/assets/manifest.json
/public/assets
/public/manifest.json

### Config
/wp-config.local.php
/wp-config.*.local.php