version: "3.8"

services:
  php:
    build:
      args:
        USER_NAME: ${LOCAL_USERNAME}
        USER_UID: ${LOCAL_UID}
      context: .
      dockerfile: docker/images/php/Dockerfile
    environment:
      MYSQL_HOST: mysql
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./:/var/www/html/
    ports:
      - "8000:80"
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    command: mysqld --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

  phpmyadmin:
    image: phpmyadmin
    restart: always
    environment:
      PMA_ARBITRARY: 1
      PMA_HOST: mysql
      PMA_USER: ${MYSQL_USER}
      PMA_PASSWORD: ${MYSQL_PASSWORD}

  node:
    build:
      args:
        USER_NAME: ${LOCAL_USERNAME}
        USER_UID: ${LOCAL_UID}
      context: .
      dockerfile: docker/images/node/Dockerfile
    volumes:
      - ./:/usr/src/app

  smtp:
    image: "mailhog/mailhog"
    environment:
      MH_API_BIND_ADDR: 0.0.0.0:80
      MH_UI_BIND_ADDR: 0.0.0.0:80

  expose:
    build:
      context: .
      dockerfile: docker/images/expose/Dockerfile
    init: true
    depends_on:
      - php